/*bugcrowd*/
.bc-reward {
    color: var(--color-fg-text-positive);
    font-weight: 500;
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

.bc-stat>.bc-stat__fig {
    display: inline-block;
    font-size: 112.5%;
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

.bc-panel__main strong,
.bc-panel__main small {
    filter: blur(10px);
}


/*hackerone*/
.spec-amount-in-currency span {
    filter: blur(10px);
  }

.spec-hacktivity-item-bounty{
    filter: blur(10px);
}

#content > div.cc-100vh-container > main > div > section > div > div.tk-sidebar.col-md-3 > div:nth-child(1) > div > p:nth-child(1){
    filter: blur(10px);
}

.spec-user-payouts{
    filter: blur(10px);
}

.card__content h4:nth-child(2) {
    filter: blur(10px);
}